<h1>New Task</h1>

<%= form_with model: @task do |f| %>
<%= f.label :titel %>
<%= f.text_field :titel %>
<br><br>
<%= f.label :details %>
<%= f.text_field :details %>
<br><br>
<%= f.submit %>
<% end %>
<br><br>
<%=link_to 'Back to main page', tasks_path%>
